<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HerstadMusikk2020</title>

	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/navbar.css">
	<link rel="stylesheet" href="./css/login.css">
	<link rel="stylesheet" href="./css/register.css">
	<link rel="stylesheet" href="./css/feedbacks.css">

	<link rel="icon" href="http://icons.iconarchive.com/icons/wwalczyszyn/android-style-honeycomb/32/Music-icon.png">

</head>
<body>

	<div class="navbar">
		<a href="#">Home</a>
		<a href="#">Trinn</a>
		<div class="dropdown">
			<button class="dropbtn" id="dropOne">Utøve</button>
			<div class="dropdown-content" id="dropOne-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn" id="dropTwo">Lage</button>
			<div class="dropdown-content" id="dropTwo-content">
				<a href="#">ULink 1</a>
				<a href="#">RLink 2</a>
				<a href="#">NiceLink 3</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn" id="dropThree">Oppleve</button>
			<div class="dropdown-content" id="dropThree-content">
				<a href="#">1 Ink</a>
				<a href="#">2 Sink</a>
				<a href="#">3 Drink</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn" id="dropFour">Kulturforståelse</button>
			<div class="dropdown-content" id="dropFour-content">
				<a href="#">Inkling</a>
				<a href="#">Sinkling</a>
				<a href="#">Drinkling</a>
			</div>
		</div>
		<div id="rightside-navbar">
			<a href="#">Logo</a> <!-- rightmost -->
			<a href="#">Login</a>
		</div>
	</div>

	<div id="mainsection">
		<h1>HerstadMusikk2020</h1>
		<div id="canvasContainer">
			<canvas width="400" height="200" id="canvas">Your browser does not support canvas</canvas>
		</div>
		<div>
			<button id="genButt">AnythingButton</button>
		</div>

		<p>
			<%= data.sitename %> 
		</p>


	</div>

	<div id="loginsection">
		<input type="text" id="usernameLogin" name="user" placeholder="username">
		<input type="password" id="passwordLogin" name="pass" placeholder="password">
		<input type="submit" id="sendLoginID" value="Login">
		<p id="goToRegistration"><a href="#">New User? Click here!</a></p>
		<div id="feedLogin"></div>
	</div>

	<div id="registrationsection">
		<input type="text" id="usernameRegistration" name="user" placeholder="username">
		<input type="password" id="passwordRegistration" name="pass" placeholder="password">
		<input type="submit" id="registerNewUser" value="Register new user">
		<div id="feedRegistration"></div>
	</div>

	<div id="hiddenstuff">
		<button id="feedback-toggle">FeedBack</button>
	</div>
	
	<div id="feedbacksection">

		<div id="feedOne" class="feeds">
			<div class="heading">FeedbackContainerOne</div>
			<div class="content">
				<textarea id="feedbackOne" disabled>The AJAX text comes here!
				</textarea>
			</div>
		</div>

		<div id="feedTwo" class="feeds">
			<div class="heading">FeedbackContainerTwo</div>
			<div class="content">
				<textarea id="feedbackTwo" disabled>The AJAX text comes here!
				</textarea>
			</div>
		</div>
		<div id="feedThree" class="feeds">
			<div class="heading">FeedbackContainerThree</div>
			<div class="content">
				<textarea id="feedbackThree" disabled>The AJAX text comes here!
				</textarea>
			</div>
		</div>

	</div>



</body>

<script src="./js/navbar.js"></script>
<script src="./js/login.js"></script>
<script src="./js/register.js"></script>
<script src="./js/feedbacks.js"></script>
<script src="./js/main.js"></script>

</html>