<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HerstadMusikk2020</title>

	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/navbar.css">
	<link rel="stylesheet" href="./css/login.css">
	<link rel="stylesheet" href="./css/register.css">
	<link rel="stylesheet" href="./css/feedbacks.css">
	<link rel="stylesheet" href="./css/useraccount.css">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="icon" href="http://icons.iconarchive.com/icons/wwalczyszyn/android-style-honeycomb/32/Music-icon.png">
</head>

<body>

	<header>

		<label for="nav-toggle" class="hamburger"><span></span></label>
		<input type="checkbox" id="nav-toggle" class="nav-toggle">
		<nav>
			<ul>
				<div class="navgrid">
					
					<div class="gridCollectionOneA gridAlign">
						<li><a href="#1">Home</a></li>
					</div>
					
					<div class="gridCollectionOneB gridAlign">
						<li><a href="#1">Trinn</a></li>
					</div>


					<div class="gridCollectionTwo gridAlign">
								<div class="dropdown">
									<label for="dropdown-toggle1" class="dropdown-toggle-label"><span>Utøve </span><i class="fa fa-caret-down"></i></label>
									<input type="checkbox" id="dropdown-toggle1" class="dropdown-toggle">
									<ul class="dropdown-content">
										<li><a href="#2">Link 1</a></li>
										<li><a href="#2">Link 2</a></li>
										<li><a href="#2">Link 3</a></li>
									</ul>
								</div>					
								<div class="dropdown">
									<label for="dropdown-toggle2" class="dropdown-toggle-label"><span>Lage </span><i class="fa fa-caret-down"></i></label>
									<input type="checkbox" id="dropdown-toggle2" class="dropdown-toggle">
									<ul class="dropdown-content">
										<li><a href="#2">ULink 1</a></li>
										<li><a href="#2">RLink 2</a></li>
										<li><a href="#2">NiceLink 3</a></li>
									</ul>
								</div>					
								<div class="dropdown">
									<label for="dropdown-toggle3" class="dropdown-toggle-label"><span>Oppleve </span><i class="fa fa-caret-down"></i></label>
									<input type="checkbox" id="dropdown-toggle3" class="dropdown-toggle">
									<ul class="dropdown-content">
										<li><a href="#2">1 Ink</a></li>
										<li><a href="#2">2 Sink</a></li>
										<li><a href="#2">3 Drink</a></li>
									</ul>
								</div>
								<div class="dropdown">
									<label for="dropdown-toggle4" class="dropdown-toggle-label"><span>Kultur </span><i class="fa fa-caret-down"></i></label>
									<input type="checkbox" id="dropdown-toggle4" class="dropdown-toggle">
									<ul class="dropdown-content">
										<li><a href="#2">Blink 1</a></li>
										<li><a href="#2">Mink 2</a></li>
										<li><a href="#2">Hink 3</a></li>
									</ul>
								</div>
					</div>

					<div class="gridCollectionThreeA gridAlign">
						<li><a href="#1" id="log">Login</a></li>
					</div>

					<div class="gridCollectionThreeB gridAlign">
						<li><a href="#1" id="account">Konto</a></li>
					</div>
				</div>

			</ul>
		</nav>
	</header>


	<main id="home">

		<div id="header">
			<h1>HerstadMusikk2020</h1>
		</div>
<!-- 		<div id="canvas">
			<canvas width="400" height="200" id="canvas" style="display: none;">Your browser does not support canvas</canvas>
			<button id="genButt" style="display: none;">AnythingButton</button>
		</div> -->

		<section id="gridings">
			
			<div id="recentElements" class="bigbox">
				<img src="./images/recentelements.png">
			</div>

			<div id="popularElements" class="bigbox">
				<img src="./images/popularelements.png">
			</div>

			<div id="advicedElements" class="bigbox">
				<img src="./images/advicedelements.png">
			</div>

			<div id="breakupElements" class="bigbox">
				<img src="./images/breakupelements.png">
			</div>

			<div id="just4funElements" class="bigbox">
				<img src="./images/just4funElements.png">
			</div>

		</section>

	</main>

	<div class="logreg" id="login">
		<input type="text" id="usernameLogin" name="user" placeholder="username" maxlength="30">
		<input type="password" id="passwordLogin" name="pass" placeholder="password" maxlength="15">
		<input type="submit" id="sendLoginID" value="Login">
		<p id="goToRegistration"><a href="#">New User? Click here!</a></p>
		<div id="feedLogin"></div>
	</div>

	<div class="logreg" id="registration">
		<input type="text" id="usernameRegistration" name="user" placeholder="username" maxlength="30">
		<input type="email" id="emailRegistration" name="mail" placeholder="user@email.com" maxlength="30">
		<input type="password" id="passwordRegistration" name="pass" placeholder="password" maxlength="15">
		<input type="submit" id="registerNewUser" value="Register new user">
		<div id="feedRegistration"></div>
	</div>

	<div class="usercontainer" id="useraccount">
		<div class="useraccountpersonal bordered">
			<h4>
				Brukerinfo:
			</h4>
			<div class="user">
				<label for="useraccountUsername">Bruker</label>
				<input type="text" id="useraccountUsername" disabled>
			</div>
			<br>
			<div class="mail">
				<label for="useraccountEmail">Email</label>
				<input type="text" id="useraccountEmail" disabled>
			</div>
			<br>
			<div class="newpass">
				<label for="useraccountNewpassword">Nytt Passord</label>
				<input type="submit" id="useraccountNewpassword" value="Trykk Her">
			</div>
		</div>

		<div class="useraccountstats bordered">
			<h4>
				Bruker stats:
			</h4>
			<div class="totalscore">
				<label for="totalscore">Poeng totalt</label>
				<input type="text" id="totalscore" disabled value="75">
			</div>
			<br>
			<div class="playscore">
				<label for="playscore">Poeng utøve</label>
				<input type="text" id="playscore" disabled value="10">	
			</div>
			<br>
			<div class="makescore">
				<label for="makescore">Poeng lage</label>
				<input type="text" id="makescore" disabled value="20">
			</div>
			<br>
			<div class="experiencescore">
				<label for="experiencescore">Poeng opplevelse</label>
				<input type="text" id="experiencescore" disabled value="30">
			</div>
			<br>
			<div class="culturescore">
				<label for="culturescore">Poeng kultur</label>
				<input type="text" id="culturescore" disabled value="15">
			</div>
		</div>

		<div class="useraccountextra bordered">
			<h4>
				Bruker ekstraordinært:
			</h4>
			<div class="badges">
				<label for="badges">Merker</label>
				<div id="badges">
					<img src="http://icons.iconarchive.com/icons/mysitemyway/grunge-stickers/64/orange-sticker-badges-283-icon.png" alt="">
					<img src="http://icons.iconarchive.com/icons/mysitemyway/grunge-stickers/64/orange-sticker-badges-283-icon.png" alt="">
					<img src="http://icons.iconarchive.com/icons/mysitemyway/grunge-stickers/64/orange-sticker-badges-283-icon.png" alt="">
					<img src="http://icons.iconarchive.com/icons/mysitemyway/grunge-stickers/64/orange-sticker-badges-283-icon.png" alt="">
					<img src="http://icons.iconarchive.com/icons/mysitemyway/grunge-stickers/64/orange-sticker-badges-221-icon.png" alt="">
					<img src="http://icons.iconarchive.com/icons/mysitemyway/grunge-stickers/64/orange-sticker-badges-221-icon.png" alt="">
				</div>
			</div>
		</div>
	</div>

	<div id="hiddenstuff">
		<button id="feedback-toggle">FeedBack</button>
	</div>

	<div id="feedback">

		<div id="feedOne" class="feeds">
			<div class="heading">FeedbackContainerOne</div>
			<div class="content">
				<textarea id="feedbackOne" disabled>The AJAX text comes here!
				</textarea>
			</div>
		</div>

		<div id="feedTwo" class="feeds">
			<div class="heading">FeedbackContainerTwo</div>
			<div class="content">
				<textarea id="feedbackTwo" disabled><%= data.sitename %>
				</textarea>
			</div>
		</div>
		<div id="feedThree" class="feeds">
			<div class="heading">FeedbackContainerThree</div>
			<div class="content">
				<textarea id="feedbackThree" disabled>The AJAX text comes here!
				</textarea>
			</div>
		</div>

	</div>



</body>

<script src="./js/navbar.js"></script>
<script src="./js/login.js"></script>
<script src="./js/logout.js"></script>
<script src="./js/register.js"></script>
<script src="./js/feedbacks.js"></script>
<script src="./js/main.js"></script>

</html>