<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HerstadMusikk2020</title>

	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/navbar.css">
	<link rel="stylesheet" href="./css/login.css">
	<link rel="stylesheet" href="./css/register.css">
	<link rel="stylesheet" href="./css/feedbacks.css">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="icon" href="http://icons.iconarchive.com/icons/wwalczyszyn/android-style-honeycomb/32/Music-icon.png">
</head>

<body>

	<header>
<!-- 		<div class="hamburger">
			<span></span>
		</div> -->

		<label for="nav-toggle" class="hamburger"><span></span></label>
		<input type="checkbox" id="nav-toggle" class="nav-toggle">
		<nav class="navbar">
			<div class="gridCollectionOneA">
				<div class="link">
					<a href="#">Home</a>
				</div>
			</div>
			<div class="gridCollectionOneB">
				<div class="link">
					<a href="#">Trinn</a>
				</div>
			</div>

			<div class="gridCollectionTwo">
				<div class="dropdowns">
					<div class="dropdown">
						<button class="dropbtn" id="dropOne">Utøve <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content" id="dropOne-content">
							<a href="#">Link 1</a>
							<a href="#">Link 2</a>
							<a href="#">Link 3</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn" id="dropTwo">Lage <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content" id="dropTwo-content">
							<a href="#">ULink 1</a>
							<a href="#">RLink 2</a>
							<a href="#">NiceLink 3</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn" id="dropThree">Oppleve <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content" id="dropThree-content">
							<a href="#">1 Ink</a>
							<a href="#">2 Sink</a>
							<a href="#">3 Drink</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn" id="dropFour">Kultur <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content" id="dropFour-content">
							<a href="#">Inkling</a>
							<a href="#">Sinkling</a>
							<a href="#">Drinkling</a>
						</div>
					</div>
				</div>
			</div>
			<div class="gridCollectionThreeA">
				<div class="link">
					<a href="#">Login</a>
				</div>
			</div>
			<div class="gridCollectionThreeB">
				<div class="link">
					<a href="#">Logo</a>
				</div>
			</div>
		</nav>
	</header>


	<main id="mainsection">

		<div id="header">
			<h1>HerstadMusikk2020</h1>
		</div>
<!-- 		<div id="canvas">
			<canvas width="400" height="200" id="canvas" style="display: none;">Your browser does not support canvas</canvas>
			<button id="genButt" style="display: none;">AnythingButton</button>
		</div> -->

		<section id="gridings">
			
			<div id="recentElements" class="bigbox">
				<img src="./images/recentelements.png">
			</div>

			<div id="popularElements" class="bigbox">
				<img src="./images/popularelements.png">
			</div>

			<div id="advicedElements" class="bigbox">
				<img src="./images/advicedelements.png">
			</div>

			<div id="breakupElements" class="bigbox">
				<img src="./images/breakupelements.png">
			</div>

			<div id="just4funElements" class="bigbox">
				<img src="./images/just4funElements.png">
			</div>

		</section>

	</main>

	<div class="logreg" id="loginsection">
		<input type="text" id="usernameLogin" name="user" placeholder="username">
		<input type="password" id="passwordLogin" name="pass" placeholder="password">
		<input type="submit" id="sendLoginID" value="Login">
		<p id="goToRegistration"><a href="#">New User? Click here!</a></p>
		<div id="feedLogin"></div>
	</div>

	<div class="logreg" id="registrationsection">
		<input type="text" id="usernameRegistration" name="user" placeholder="username">
		<input type="password" id="passwordRegistration" name="pass" placeholder="password">
		<input type="submit" id="registerNewUser" value="Register new user">
		<div id="feedRegistration"></div>
	</div>

	<div id="hiddenstuff">
		<button id="feedback-toggle">FeedBack</button>
	</div>

	<div id="feedbacksection">

		<div id="feedOne" class="feeds">
			<div class="heading">FeedbackContainerOne</div>
			<div class="content">
				<textarea id="feedbackOne" disabled>The AJAX text comes here!
				</textarea>
			</div>
		</div>

		<div id="feedTwo" class="feeds">
			<div class="heading">FeedbackContainerTwo</div>
			<div class="content">
				<textarea id="feedbackTwo" disabled><%= data.sitename %>
				</textarea>
			</div>
		</div>
		<div id="feedThree" class="feeds">
			<div class="heading">FeedbackContainerThree</div>
			<div class="content">
				<textarea id="feedbackThree" disabled>The AJAX text comes here!
				</textarea>
			</div>
		</div>

	</div>



</body>

<script src="./js/navbar.js"></script>
<script src="./js/login.js"></script>
<script src="./js/register.js"></script>
<script src="./js/feedbacks.js"></script>
<script src="./js/main.js"></script>

</html>