.feeds {
	width: 30%;
	display: inline-block;
	background: gray;
}

.feeds .heading {
	text-align: center;
	color: hotpink;
	font-size: 1.2em;
	font-weight: 700;
	padding: 10px;
}

.feeds .content {
	text-align: center;
	color: gray;
	font-size: 0.7em;
	padding: 0 10px 10px;
}

.feeds .content textarea {
	width: 80%;
	min-height: 300px;
	resize: none;
}


#loginsection {
	display: none;
	margin: 10px 35% 10px; /*35% on both sides*/
	width: 30%; /*30% centered + 35% + 35% = 100%*/
	background: #22eeaa;
	border-radius: 25px;
	border: 2px solid black;
	padding: 10px;
	/*text-align: center;*/
}

#loginsection input {
	margin: 10px auto;
	display: block;
	padding: 5px;
	font-size: 1.2em;
}

#loginsection p {
	text-align: right;
}
