/*Connection testing*/
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	background: green;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}


h1 {
	margin: 0;
}

/*Main window*/
#home {
	background: #44ff33;
}

#header {
	text-align: center;
	padding: 10px;
	/*border: 1px solid red;*/
	background: lime;
}

#gridings {
	background: #003300;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-gap: 50px;
    padding: 10px;
}

.bigbox {
	padding: 10px;
	margin: 0;
	background: #999;
}

#recentElements {
    grid-column: 1 / 5;
	grid-row: 1 / 2;
	/*background: red;*/
	/*border: 1px solid black;*/
}

#popularElements {
    grid-column: 5 / 9;
	grid-row: 1 / 2;
	/*background: green;*/
	/*border: 1px solid black;*/

}

#advicedElements {
    grid-column: 9 / 13;
	grid-row: 1 / 2;
	/*background: maroon;*/
	/*border: 1px solid black;*/
}

#breakupElements {
    grid-column: 1 / 5;
	grid-row: 2 / 3;
	/*background: seagreen;*/
	/*border: 1px solid black;*/
}

#just4funElements {
    grid-column: 9 / 13;
	grid-row: 2 / 3;
	/*background: pink;*/
}


.bigbox img {
	border: 3px solid black;

}

.bigbox img:hover {
	border: 3px solid yellow;
	cursor: pointer;
}

@media screen and (max-width: 1200px) {
	img {
		width: 200px;
	}
}

@media screen and (max-width: 1000px){
	img {
		width: 100px;
	}
}

@media screen and (max-width: 800px) {

	#gridings {
		all: unset;
		display: flex;
		flex-direction: column;
		/*text-align: center;*/
		/*border: 1px solid red;*/
		/*overflow: hidden;*/
		background: #339933;
		/*place-items: center;*/

	}

	.bigbox {
		/*all: unset;*/
		/*border: 1px solid white;*/

		margin: 1em 0;
		/*margin: 0 auto;*/
		/*margin: 0;*/
		/*padding: 0;*/
		background: #333;
	}


	.bigbox img {
		/*border: 1px solid blue;*/
		width: 300px;

	}

}