/*navbar-css*/
/*dropdownmenus*/

.hamburger {
	display: none;
}

.nav-toggle {
	display: none;
}

.navbar {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	background: #008833;
	/*overflow: hidden;*/
	height: 60px;
}

.gridCollectionOneA {
	grid-column: 2 / 3;
	height: 100%;

}

.gridCollectionOneB {
	grid-column: 3 / 4;
}

.gridCollectionTwo {
	grid-column: 4 / 9;
	/*border: 1px solid red;*/

}

.gridCollectionThreeA {
	grid-column: 9 / 10;
}

.gridCollectionThreeB {
	grid-column: 10 / 11;
}

.dropdowns {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/*border: 1px solid red;*/
	height: 100%;
	/*width: 100%;*/
}

.dropdown {
	/*width: 100%;*/
	/*overflow: hidden;*/
	margin: 1em;
	text-align: center;
	height: 100%;
	/*border: 1px solid white;*/

	

}

.dropdown .dropbtn {
	font-size: 1.2em;
	font-weight: 800;
	text-transform: uppercase;

	color: white;

	position: relative; /* makes the lines align under each text */

	border: none;
	outline: none;
	background: inherit;
	font-family: inherit;
	/*border: 1px solid blue;*/
	cursor: pointer;
}

.dropdown .dropbtn::after {
	position: absolute;
	bottom: -0.3em;
	display: block;
	content: "";
	margin: 0 auto;
	width: 75%;
	height: 5px;
	left: 0;
	right: 0;
	background: black;
	border-radius: 2px;

	
	transform: scale(0,1);
	transition: transform 250ms ease-in-out;
} 

.dropdown .dropbtn:hover::after {
	transform: scale(1,1);
	transition: transform 250ms ease-in-out 100ms;	
}

.link {
	display: flex;
	align-items: center;
	/*margin: 0;*/
	height: 100%;
}

.navbar a {
	width: 100%;
	font-size: 1.2em;
	font-weight: 800;
	text-transform: uppercase;
	padding: 16px;
	color: white;

	text-decoration: none;
	/*border: 1px solid red;*/
}

.navbar a:hover {
	background: #339933;
}

.navbar .dropbtn:hover {
	color: black;
	background: #333;
	width: 100%;
	text-align: left;
}
 
/* Content */
.dropdown-content {
	/*I use js to control dropdowndisplay*/
	display: none;

	position: absolute;
	top: 60px;
	/*height: 100%;*/
	background: #00f933;
	width: 100%;
	box-shadow: 16px 16px 16px 0px rgba(0,0,0,0.8);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background: #ddd;
}


@media screen and (max-width: 600px) {

	header {
		display: flex;
		position: relative;
		top: 0;
		left: 0;
		height: 60px;
		/*border: 1px solid red;*/
		background: #229911;
	}

	/* Hamburger */
			.hamburger {
				position: absolute;
				top: 0;
				left: 10px;
				display: flex;
				align-items: center;

				width: 10%;
				/*border: 1px solid red;*/
				height: 100%;
			}

			.hamburger span,
			.hamburger span::before,
			.hamburger span::after {
				height: 3px;
				background: white;
				margin: 0 auto;
				width: 80%;
				border-radius: 10px;
			}

			.hamburger span::before,
			.hamburger span::after {
				content: "";
				position: absolute;
			}


			.hamburger span::before {
				bottom: 25%;
			}

			.hamburger span::after {
				top: 25%;
			}


	/* Navbar */

			.nav-toggle {
				display: none;
			}

/*			nav {
				display: none;
			}*/

			.navbar {
				all: unset;
				display: block;
				position: absolute;

				top: 100%;
				left: -1px; /* Why */
				/*left: 0;*/
				background: #008888;
				overflow: hidden;
				/*height: 100%;*/


				transform-origin: top;
				transform: scale(1,0);
				transition: transform 250ms ease-in-out;
			}

			.navbar a {
				opacity: 0;
				transition: opacity 250ms ease-in-out;
			}

			.dropdowns {
				display: block;
			}

			.dropdown {
				text-align: left;
				/*border: 1px solid red;*/
				/*margin: 0;*/
				padding: 10px;
			}

			.dropbtn {
				opacity: 0;
				transition: opacity 250ms ease-in-out;
				margin: 0;
			}

			.link {
			}
			

			.navbar > a {
				/*border: 1px solid red;*/
				padding: 10px;
				width: 100%;
			}

			.nav-toggle:checked ~ .navbar {
				transform: scale(1,1);
			}

			.nav-toggle:checked ~ .navbar a {
				opacity: 1;
				transition: opacity 250ms ease-in-out 250ms;
			}

			.nav-toggle:checked ~ .navbar button {
				opacity: 1;
				transition: opacity 250ms ease-in-out 250ms;
			}


	/* Content */
					.dropdown-content {
						/*I use js to control dropdowndisplay*/
						display: none;

						position: relative;
						top: .5em;
						/*top: 60px;*/
						/*height: 100%;*/
						background: #00f933;
						/*max-width: 50px;*/
						box-shadow: 16px 16px 16px 0px rgba(0,0,0,0.8);
					}

					.dropdown-content a {
						color: black;
						padding: 10px;
						text-decoration: none;
						display: block;
						text-align: left;
					}

					.dropdown-content a:hover {
						background: #ddd;
					}

}