/* Basic Nav Setup */

.hamburger { /* checkbox */
	display: none;
}

.nav-toggle {
	display: none;
}

.dropdown-toggle { /* checkbox */
	display: none;
}



nav {
	font-weight: 800;
	text-transform: uppercase;
	height: 3em;
	z-index: 600;

	/*border: 1px solid white;*/
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {

}

nav a[href^="#1"] { /* first level links */
	color: white;
	text-decoration: none;
}

nav label { /* labels for inputs */
	color: #ccc;
	cursor: pointer;
	height: 100%;

	overflow: hidden;

	margin-left: 1em;
}

nav a[href^="#2"] { /* second level links */
	color: #888;
	text-decoration: none;
}


/* Grid System */

.navgrid {
	display: grid;
	grid-template-columns: repeat(10fr);
	height: 3em;
}

.gridCollectionOneA {
	grid-column: 2 / 3;
}

.gridCollectionOneB {
	grid-column: 3 / 4;
}

.gridCollectionTwo {
	grid-column: 4 / 8;
}

.gridCollectionThreeA {
	grid-column: 9 / 10;
}

.gridCollectionThreeB {
	grid-column: 10 / 11;
}

.gridAlign { /* all of the gridCollections */
	align-self: center; /* grid system */

	display: flex;
	/*border: 1px solid red;*/
	justify-content: flex-start;
	padding: 0.62em;
}

/* hovering */

nav a[href^="#1"]:hover { /* first level links */
	color: black;
}

nav label:hover { /* labels for inputs */
	color: black;
}

nav a[href^="#2"]:hover { /* second level links */
	color: black;
}

/* Dropdown Content */
.dropdown {
	margin-left: 1em;
	white-space: nowrap;
}

.dropdown-content {
	display: block;
	background: #333;
	/*margin-left: inherit;*/
	padding: 5px;

	border: 2px solid white;
	border-radius: 5px;

	position: absolute;
	top: 3em;

	transform: scale(1,0);
	transform-origin: top;
	transition: transform 250ms ease-in-out;

	z-index: 400;

	max-height: 0;
	transition: max-height 250ms ease-in-out;
}

.dropdown-content a {
	opacity: 0;
	transition: opacity 250ms ease-in-out;
	padding: 10px;
}

.dropdown-toggle:checked ~ .dropdown-content {

	transform: scale(1,1);
	transition: transform 250ms ease-in-out;

	max-height: 9em;
	transition: max-height 250ms ease-in-out;
}

.dropdown-toggle:checked ~ .dropdown-content a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
}



@media screen and (max-width: 800px) {

	/* hamburger start */
	.hamburger {
		display: grid;
		height: 3em;
		/*border: 1px solid red;*/
		position: absolute;
		top: 0;
		left: 0;
		margin-left: 1em;
	}

	.hamburger span,
	.hamburger span::before,
	.hamburger span::after {
		position: relative;
		background: white;
		height: 5px;
		width: 2em;
		border-radius: 3px;
		align-self: center;
	}

	.hamburger span::before,
	.hamburger span::after {
		content: "";
		position: absolute;
	}

	.hamburger span::before {
		bottom: 7px;
	}

	.hamburger span::after {
		top: 7px;
	}

	/* hamburger end */


	.navgrid {
		/* all: unset; */
		position: absolute;
		top: 3em;

		display: block;
		/* display: flex; */
		/* flex-direction: column; */
		width: 100%;

		background: rgba(50,50,50,0.9);

		/*border: 1px solid red;*/

		height: auto;

		transform: scale(1,0);
		transform-origin: top;
		transition: transform 250ms ease-in-out;
	}

	.gridAlign {
		/* all: unset; */
		flex-direction: column;
		/* border: 1px solid grey; */
	}

	.dropdown-toggle-label {
		/*border: 1px solid white;*/
		margin: 0;
	}

	.dropdown-toggle { /* checkbox */
		/* display: block; */

	}

	.dropdown {
		margin: 0.5em 0;
		/*border: 1px solid blue;*/
	}

	.dropdown-content {
		position: relative;
		top: 5px;
	}

	.nav-toggle:checked ~ nav .navgrid{
		/*display: block;*/

		transform: scale(1,1);
		transition: transform 250ms ease-in-out 250ms;
	}

	nav a[href^="#1"] { /* first level links */
		opacity: 0;
		transition: opacity 250ms ease-in-out;
	}

	nav label { /* labels for inputs */
		opacity: 0;
		transition: opacity 250ms ease-in-out;
	}

	.nav-toggle:checked ~ nav a[href^="#1"] {
		opacity: 1;
		transition: opacity 250ms ease-in-out 450ms;
	}

	.nav-toggle:checked ~ nav label {
		opacity: 1;
		transition: opacity 250ms ease-in-out 450ms;
	}

}