/*#registrationsection {
	display: none;
	margin: 10px 35% 10px;
	width: 30%;
	background: #33ff33;
	border-radius: 25px;
	border: 2px solid black;
	padding: 10px;
}

#registrationsection input {
	margin: 10px auto;
	display: block;
	padding: 5px;
	font-size: 1.2em;
}

#registrationsection p {
	text-align: right;
}
*/